:root {
  --primary-font: "Inter", serif;
  --secondary-font: "Manrope", sans-serif;
  --tertiary-font: "Poppins", sans-serif;
  --special-font: "Be Vietnam Pro", sans-serif;
  --headline-font: "DM Sans", sans-serif;
  --base-transition: all 0.4s ease-in-out;
  --primary: #024cda;
  --text-dark: #000;
  --text-dark02: #1a2232;
  --text-white: #fff;
  --common--white--border: 1px solid #fff;
  --primary-gradient: linear-gradient(180deg, #024cda -1.64%, #012874 100%);
}

/* -- artist listener earn page starts -- */

.sm--listener-earn-wrapper {
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #e6e6e6;
  background: var(--white, #fff);
}

.sm--featured-artist-and-metrics-title-text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4px;
  padding-bottom: 24px;
}

/* -- streams and rewards styles starts -- */

.sm--total-streams-and-rewards-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* streams */
.sm--total-streams {
  display: flex;
  background: var(--primary-gradient);
  padding: 32px;
  width: 100%;
  gap: 20px;
  border-radius: 20px;
}

.sm--total-streams-right {
  width: 100%;
}

.sm--total-streams-right-subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding-bottom: 5px;
}

.sm--total-streams-right-subtitle-text {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.13px;
}

.sm--total-streams-right-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1.44px;
}

/* rewards */

.sm--total-rewards {
  display: flex;
  background: var(--text-dark);
  padding: 32px;
  width: 100%;
  gap: 20px;
  border-radius: 20px;
}

.sm-total-rewards-right {
  width: 100%;
}

.sm--total-rewards-right-subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding-bottom: 5px;
}

.sm--total-rewards-right-subtitle-text {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.13px;
}

.sm--total-rewards-right-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1.44px;
}

.sm-total-rewards-left {
  background-color: var(--primary);
  border-radius: 50%;
  padding: 5px;
}

/* -- engage tabs container starts -- */

.sm--engage-tabs-container {
  padding-top: 24px;
}

.sm--engage-tabs-container .nav-tabs .nav-link {
  color: var(--text-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 4px;
  background-color: #f5f8fe;
}
.sm--engage-tabs-container .nav-tabs .nav-link.active {
  background-color: var(--primary) !important;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: var(--primary);
}

/* -- trending song tabs starts -- */

.sm--trending-songs-search-input {
  display: flex;
  align-items: center;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 24px;
}

.sm--trending-songs-search-input input {
  padding: 2px 8px;
  border: none;
  width: 100%;
}

.sm--trending-song-accordion-wrapper {
  padding: 10px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  margin-top: 20px;
}
.sm--trending-song-accordion-wrapper .accordion {
  border-radius: 20px;
  border: none;
}
.sm--trending-song-accordion-wrapper .accordion-item {
  margin-top: 12px;
  border: none;
}
.sm--trending-song-accordion-wrapper .accordion-item:first-child {
  margin-top: 0px;
  border: none;
}

.sm--accordion-item-head-container{
  background-color: var(--primary);
  color: white;
  padding: 8px;
  border: 0px;
  border-radius: 14px;
}

.sm--trending-song-accordion-wrapper .accordion-button {
  background-color: var(--primary);
  color: white;
  padding: 12px;
  border: 0px;
  overflow: hidden;
}
.sm--trending-song-accordion-wrapper .accordion-button::after {
  width: 0px;
  background-image: none;
}
.sm--trending-song-accordion-wrapper .accordion-button:focus {
  box-shadow: none;
}

.sm--accordion-item-head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sm--accordion-item-head-music-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sm--accordion-item-head-music-image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  overflow: hidden;
}
.sm--accordion-item-head-music-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm--accordion-item-head-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sm--accordion-item-head-song-name {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sm--accordion-item-head-song-artist {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sm--accordion-head-time-text {
  color: white;
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sm--accordion-head-chart-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sm--accordion-head-invest-btn {
  padding: 12px 18px;
  border-radius: 8px;
  border: 1px solid white;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.45px;
}

.sm--accordion-body-conatainer {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 12px;
  padding: 12px;
  width: 100%;
}

.sm--trending-song-accordion-wrapper .accordion-body {
  padding: 6px;
}
.sm--accordion-body-month-select {
  width: 100%;
  display: flex;
  justify-content: end;
}
.sm--accordion-body-month-select .nice-select {
  justify-content: end;
  width: 100px;
}

.sm-accordion-body-chart-container .apexcharts-toolbar {
  display: none !important;
}

.sm--investToken-balance-svg {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.sm--investToken-balance-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sm--investToken-balance-text-subtitle {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.13px;
}

.sm--investToken-balance-text-title {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1.44px;
}

.sm--investToken-balance-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 24px;
  border-radius: 12px;
  background: linear-gradient(90deg, #024cda 0%, #012874 100%);
  color: white;
}

.sm--investToken-song-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.sm--investToken-song-info-right-title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sm--investToken-song-info-right-subtitle {
  color: #000;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sm--investToken-song-info-left {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sm--investToken-left-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sm--investToken-left-song-name {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sm--investToken-left-song-artist {
  color: #000;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sm--investToken-left-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 14px;
}
.sm--investToken-left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sm--investToken-song-info-right {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sm--investToken-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 0px;
}

.sm--investToken-input-label-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sm--investToken-input-label-container label {
  color: #1d2026;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.sm--investToken-input-label-container input {
  border-radius: 10px;
  border: 1px solid #e9eaf0;
  background: #fff;
  padding: 13px 18px;
}

.sm--investToken-column-divider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.sm--investToken-bet .nice-select {
  height: 52px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.sm--investToken-select-label-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sm--investToken-select-label-container input {
  border-radius: 10px;
  border: 1px solid #e9eaf0;
  background: #fff;
  padding: 13px 18px;
}

.sm--investToken-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.sm--investToken-cancel-btn {
  color: #1d2026;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.128px;
  text-transform: capitalize;
  border-radius: 10px;
  background: var(--Gray-50, #f5f7fa);
  padding: 4px 26px;
}
.sm--investToken-submit-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.128px;
  text-transform: capitalize;
  border-radius: 10px;
  background: #024cda;
  padding: 4px 26px;
  border: none;
}

/* -- trending song tabs ends -- */

/* -- engage tabs container ends -- */
